<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="exhForm">
    <ion-list>   
      <ion-item>
        <ion-label>Customer Name</ion-label>
        <ion-input type="text" [(ngModel)]="customerName" formControlName="customerNameCntrl"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-label>Job Title</ion-label>
        <ion-input type="text" [(ngModel)]="jobTitle" formControlName="jobTitleCntrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Company Name</ion-label>
        <ion-input type="text" [(ngModel)]="companyName" formControlName="companyNameCntrl"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-input type="text" [(ngModel)]="country" formControlName="countryCntrl"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label>Full Address</ion-label>
        <ion-input type="text" [(ngModel)]="address" formControlName="addressCntrl"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label>Telephone No</ion-label>
        <ion-input type="tel" [(ngModel)]="telephone" pattern="^([0-9]{2}\\s?){5}$" formControlName="telephoneCntrl"></ion-input>
      </ion-item>
      <ion-item *ngIf="!exhForm.controls.telephoneCntrl.valid && exhForm.controls.telephoneCntrl.dirty">
        <p>Please enter a valid Telephone No.</p>
      </ion-item>
      <ion-item>
        <ion-label>Mobile No</ion-label>
        <ion-input type="tel" [(ngModel)]="mobile" pattern="^([0-9]{2}\\s?){5}$" formControlName="mobileCntrl" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!exhForm.controls.mobileCntrl.valid && exhForm.controls.mobileCntrl.dirty">
        <p>Please enter a valid Mobile No.</p>
      </ion-item>
      <ion-item>
        <ion-label>Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" formControlName="emailCntrl" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!exhForm.controls.emailCntrl.valid && exhForm.controls.emailCntrl.dirty">
        <p>Please enter a valid Email Address.</p>
      </ion-item>
    </ion-list>
    <button block ion-button (click)="addFiles()">Add File</button>
    <button block ion-button [disabled]="!exhForm.valid">Save</button>
  </form>   
</ion-content>
